:root {
  --primary-color: #fecaca;
  /* --secondary-color: hsl(0, 83%, 98%); */
  --secondary-color: #F8FFE8;
  --grey-text-color: #9a9a9a;
  --light-grey: #cdcdcd;
  --lighter-grey: #f1f1f1;
  --card-color: #FFFFFF;
  --urgent-primary-color: #FF0000;
  --urgent-secondary-color: #FFDEDE;
  --unimportant-primary-color: #868686;
  --unimportant-secondary-color: #D5D5D5;
  --normal-primary-color: #00952A;
  --normal-secondary-color: #94FFB2;
  --error-color: #bd0303;
  --pointer: pointer;
  font-size: 16px;
  font-family: 'Nunito', 'Roboto', 'sans-serif';
  user-select: none;
}

body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.font-large {
  font-size: 2rem;
}

.font-medium {
  font-size: 1.5rem;
}

.font-regular {
  font-size: 1rem;
}

.font-small {
  font-size: 0.875rem;
}

.primary-color {
  background-color: var(--primary-color);
}

.secondary-color {
  background-color: var(--secondary-color);
}

.grey-font {
  color: var(--grey-text-color);
}

.light-grey {
  color: var(--light-grey);
}

.p-24 {
  padding: 24px;
}

.p-48 {
  padding: 48px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-48 {
  margin-bottom: 48px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

#container{
  display: grid;
  grid-template-columns: 1.1fr 5fr;
  height: 100vh;
}

#sidebar h1 {
  margin-bottom: 84px;
}

#project-container {
  overflow-x: scroll;
}

#project-container h2{
  cursor: pointer;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

#projects li {
  cursor: var(--pointer);
  font-size: 1.25rem;
  margin-left: 24px;
  user-select: none;
  padding-top: 3px;
}

#projects li:hover {
  text-decoration: underline;
}

#sidebar h2 {
  font-weight: 600;
}

#sidebar h2:nth-child(n+1) {
  margin-bottom: 16px;
}

#sidebar h2:nth-of-type(2) {
  margin-top: 32px;
}

#add-project-btn {
  user-select: none;
  margin-top: 8px;
}

#todo-list {
  display: grid;
  grid-auto-columns: 350px;
  grid-auto-flow: column;
  gap: 24px;
}

.todo-card {
  padding: 24px 28px 32px 28px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--card-color);
  position: relative;
}

.status-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.todo-card h3 {
  margin-bottom: 16px;
}

.checklist-circle {
  min-width: 18px;
  min-height: 18px;
  border-radius: 50%;
  border-color: var(--light-grey);
  border-style: solid;
  cursor: var(--pointer);
}

.checklist-divide {
  margin-top: 16px;
}

.checklist-divide hr {
  height: 1px;
  border: 0;
  background: var(--light-grey);
}

.add-task-button {
  color: var(--grey-text-color);
  cursor: var(--pointer);
  margin-top: 12px;
  margin-bottom: 8px;
  user-select: none;
  border-style: solid;
  display: inline-block;
  border-color: var(--light-grey);
  padding: 6px 8px;
  border-radius: 14px;
  background-color: var(--lighter-grey);
}

.submit-task-btn {
  padding: 8px;
}

.task-form {
  margin-top: 12px;
  margin-right: 8px;
  padding: 8px;
}

.notes-heading {
  margin-top: 24px;
}

.add-todo-button {
  border-radius: 10px;
  padding: 12px;
  background-color: rgb(229, 229, 229);
  display: inline-block;
  user-select: none;
  cursor: var(--pointer);
  margin-bottom: 24px;
}

#todo-form-container {
  display: none;
  flex-direction: column;
  width: 60%;
}

#todo-form-container input, 
#todo-form-container select,
#todo-form-container textarea {
  font-size: 1rem;
  padding: 4px;
}

#todo-form-container input:nth-child(n+3), 
#todo-form-container select,
#todo-form-container textarea {
  margin-top: 16px;
}

#todo-form-container label {
  margin-bottom: 8px;
  color: grey;
}

#todo-form-container select,
#todo-form-container input[type="datetime-local"] {
  color: grey;
}

#todo-submit-btn {
  margin-top: 8px;
  font-size: 1rem;
}

#todo-form-container option:nth-child(n+1) {
  color: black;
}

#todo-form-container button {
  width: 40%;
  align-self: center;
  padding: 8px;
}

.task-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-name-circle-container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.task-container .fa-xmark {
  justify-self: flex-end;
}

#project-form-container {
  margin-top: 14px;
  display: flex;
  gap: 8px;
}

#project-name-form {
  padding: 8px;
  font-size: 0.875rem;
  margin-bottom: 12px;
  width: 150px;
}

#project-form-container button {
  padding: 0px 8px;
  height: 37px
}

.circle-filled {
  background-color: var(--primary-color);
}

.task-done {
  text-decoration: line-through;
}

.hidden {
  display: none;
}

.priority-label-urgent,
.priority-label-normal,
.priority-label-unimportant {
  padding: 4px 6px;
  border-style: solid;
  border-radius: 16px;
}

.priority-label-urgent {
  border-color: var(--urgent-primary-color);
  background-color: var(--urgent-secondary-color);
  color: var(--urgent-primary-color);
}

.priority-label-normal {
  border-color: var(--normal-primary-color);
  background-color: var(--normal-secondary-color);
  color: var(--normal-primary-color);
}

.priority-label-unimportant {
  border-color: var(--unimportant-primary-color);
  background-color: var(--unimportant-secondary-color);
  color: var(--unimportant-primary-color);
}

.error {
  color: var(--error-color);
}

.project-list-container {
  display: flex; 
  gap: 48px;
  align-items: center;
  margin-bottom: 8px;
}

.fa-xmark:hover,
.fa-ellipsis-vertical {
  cursor: pointer;
}

.ellipsis-container:hover {
  background-color: var(--lighter-grey);
}

.ellipsis-container {
  padding: 16px;
  border-radius: 50%;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.title-container li {
  cursor: pointer;
  padding: 12px;
}

.title-container li:hover {
  background-color: var(--lighter-grey);
}

.todo-card .selection-container {
  border-style: solid;
  border-width: 2px;
  border-color: var(--light-grey);
  position: absolute;
  top: 60px;
  left: 200px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);
}

#project-edit-form {
  background-color: var(--secondary-color);
  border: none;
  font-size: 1.5rem;
}

#project-edit-form:focus {
  outline: none;
}